@page
@model Bookstore.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return to Bookstore</a>
</div>